.rotate {
    animation: rotation;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}