.rotate {
    width: 80px;
    height: 80px;
    animation: rotation infinite 2s linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}